.sidebarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.sidebarFriendImg{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    object-fit: cover;
    margin-right: 13px;
}